@import "tailwindcss" source(none);
@source "./public/*.{html,js}";
@plugin "daisyui";


@theme {
    --color-twitter-blue: #1DA1F2;
    --color-linkedin-blue: #0077B5;
    --color-youtube-red: #FF0000;
    --color-github-black: #333333;
    --color-buymeacoffee-yellow: #FFDD00;
    --color-rust-orange: #E57324;
}
